html{
  background-color:#d98156;
  padding: 0em;
  margin: 0em;
  font-family: 'Merriweather', serif;
}

body{
  padding: 0em;
  margin: 0em;
}

header{
  padding: 1em;
}

h1{
  text-align: center;
}

nav{
  margin: 0em;
  padding: 0em;
  list-style: none;
  text-align: center;
}

nav ul{
  padding: 0em;
  margin: 0em;
}

nav li{
  margin: 0em;
  padding: 0em;
  display: inline-block;
}

nav a{
  padding: 0.5em 0.75em;
  background-color:#d98156;
  text-decoration: none;
  border: 1px solid #a33f3a;
  border-radius: 1px;
  width: 5em;
  text-align: center;
}

img {
  float: left;
}

.left-grain {
  float: left;
  width: 5%;
}

.right-grain {
  float: right;
  width: 5%;
}
