html{
  box-sizing: border-box;
  padding: 0em;
  margin: 0em;
  font-family: 'Merriweather', serif;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  padding: 0em;
  margin: 0em;
}

header{
  padding: 0em;
}

h1{
  text-align: center;
  background-color:#cd5b34;
  margin: 0em;
  color: #fff;
}

h2{
  text-align: center;
  color: #fff;
  padding: .5em;
  margin: 0em;
}

nav{
  background-color:#cd5b34;
  list-style: none;
  text-align: center;
  width: 100%;
}

nav ul{
  display: block;
  padding: .60em;
  margin: 0em;
  width: 100%;
}

nav li{
  margin: 0em;
  padding: 0em;
  display: inline-block;
}

nav a{
  margin: 0em;
  padding: 0.5em 0.75em;
  background-color:#cd5b34;
  text-decoration: none;
  border: 1px solid #a33f3a;
  border-radius: 1px;
  text-align: center;
  color: #fff;
  width: 5em;
}

nav a:hover{
  background-color: #a33f3a;
}

.left-grain {
  float: left;
  width: 10%;
}

.right-grain {
  float: right;
  width: 10%;
  clear: right;
}

.grain-image{
  width: 40%;
  float: left;
  margin-right: 1em;
  border: 1px solid #ccc;
}

.cereals{
  width: 40%;
  float: right;
  clear: right;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

.quinoa{
  width: 40%;
  float: right;
  clear: right;
  border: 1px solid #ccc;
}

.cereal-block{
  padding: 0em;
  margin: 0em;
  background-color:#d98156;
  clear: both;
}

.corn{
  width: 100%;
}

.rice{
  background-color:#d98156;
  width:50%;
  float: left;
  color: #fff;
  font-style: italic;
  font-size: .5rem;
  text-align: center;
}

.oats{
  background-color:#d98156;
  width:50%;
  float: right;
  color: #fff;
  float: right;
  font-style: italic;
  font-size: .5rem;
  text-align: center;
}

.corn-cap{
  text-align: center;
  font-style: italic;
  color: #fff;
  font-size: .5rem;
}

h3{
  text-align: center;
  clear: both;

}

.peanuts{
  width: 30%;
  border: 1px solid #ccc;
  float: left;
  clear: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.beans{
  width: 30%;
  border: 1px solid #ccc;
  float: left;
  clear: left;
  margin-right: 1em;
}

.lentils{
  width: 30%;
  border: 1px solid #ccc;
  float: left;
  clear: left;
  margin-right: 1em;
}

.beans-p{
  clear: right;
}

.lentils-p{
  clear: right;
}

.peanuts-p{
  clear: right;
}

footer{
  background-color: #cd5b34;
  padding: .5em;
  text-align: center;
  color: #fff;
  font-size: .5rem;
}

.peanut-block{
  clear: both;
}

.bean-block{
  clear: both;
}

.lentil-block{
  clear: both;
}
